# API ключ MWS (обязательно)
MWS_API_KEY=sk-your-api-key-here
MWS_BASE_URL=https://api.gpt.mws.ru/v1

# Ключ доступа к сервису pipelines (должен совпадать в open-webui и pipelines)
PIPELINES_API_KEY=your-pipelines-api-key-here

# Open WebUI
WEBUI_SECRET_KEY=your-webui-secret-key-here

# SearXNG (сгенерируйте: openssl rand -hex 32)
SEARXNG_SECRET_KEY=your-searxng-secret-key-here

# Опционально
FORCE_REASONING=false
REDIS_HOST=hackathon-redis
REDIS_PORT=6379
REQUESTS_CA_BUNDLE=
